.cart-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    /* Initially placed off-screen */
    transition: right 0.3s;
    /* Animate the right value over 300ms */
    height: 100%;
    width: 300px;
    background: #242424;
    z-index: 100;
}

.cart-wrapper.show {
    right: 0;
    /* Slide in to be fully visible */
}

.cart {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: stretch;
    background-color: #242424;
    flex-grow: 1;
    /* Fill the remaining space */
    padding: 2rem;
    box-shadow: -8px 0 15px -5px rgba(0, 0, 0, 0.5);
}

.cart-header {
    background-color: #1a1a1a;
    padding: 0.5em 1em;
    /* Match nav bar padding */
    display: flex;
    justify-content: flex-end;
    min-height: 59.2px;
    /* Minimum height to cover the button */
}

.cartButton {
    position: absolute;
    /* Position the button in relation to the cart wrapper */
    top: 10px;
    left: -50px;
    /* Position outside the cart */
    transition: left 0.3s;
    /* Animate together with the cart */
}

.cart-wrapper.show .cartButton {
    left: 10px;
    /* Slide in to be next to the cart */
}

.cart-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
