.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    padding: 0.5em 1em;
}

.navTabs {
    display: flex;
    flex-direction: row;
    width: 95%;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar-logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.cartButton {
    align-self: flex-end;
}
